
    <!-- login widget -->
    <div class="widget-container widget_login styled boxed boxed-cream" >
        <div class="inner">
          <h5> About Us</h5> 

           <!-- search widget -->
            <div class="widget-container widget_search styled boxed boxed-cream">
                <div class="inner" id="about_us">
                     
                </div>
            </div>
            <!--/ search widget -->

             <div class="buttons-wrap col-sm-12" style="margin-top: 5%" >
        <!-- Buttons -->
        <div class="buttons">
            <a href="#" class="btn btn-left pull-left" data-nav = "home"  onclick="navigate(this)"><span>Back</span></a>
            
            <!-- <a href="#" class="btn btn-right pull-right"><span>Next</span></a> -->

        </div>

    </div>
    
     
</div>


             
</div>
</div>
<!--/ login widget -->
