<nav class="navbar navbar-inverse  ">
  <div class="container-fluid">
    <div class="navbar-header">
      
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">  MENU </button>

      <a class="navbar-brand" href="#">
        <img src="img/logo.png" class="pull-left" style="height: 25px" align="logo" /> Maximprof 
      </a>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" data-nav = "home" data-toggle="collapse" data-target="#myNavbar" onclick="navigate(this)">Home</a></li>
        <li><a href="#" data-nav = "about_us" data-toggle="collapse" data-target="#myNavbar" onclick="navigate(this)">About Us</a></li>
        <li><a href="#" data-nav = "contact_us" data-toggle="collapse" data-target="#myNavbar"onclick="navigate(this)">Contact Us</a></li>
      </ul>
       
    </div>
  </div>
</nav>
      