
<!-- row -->
<div class="row">
     <div class="col-sm-10 col-sm-offset-1" >
       

        <!-- login widget -->
        <div class="widget-container " style="margin-top: 10% ;height: 90% ; text-align: center;">
            <div class="inner" >
            	<div class="logo col-sm-4 col-sm-offset-4"> 
            		<img src="img/logo.png" style="width: 80%" />
            		<h3> Maximprof UI Framework </h3>
              	<h5 class="foo">A Simple MVC Based UI Framework for Web Applications </h5> 
            	</div>
              	
              	<div class="logo col-sm-4 col-sm-offset-4" >

	              		<a href="#" class="btn btn-info" data-nav = "home"  onclick="navigate(this)">
	              			<span>START</span>
	              		</a>

              		
              	</div>

            </div> 
        </div>
        <!--/ login widget -->
    </div>
</div>
<!--/ row -->